.filtros-object{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #000000;

.Marcas-selecionada{
    display: flex;
}
.size{
    display:flex ;
}
.tamanho{
 
}
p{
    color: white;
}
h1{
    color: white;
}
}