
.admin-home{

 
    .cont-faixa-cadastro{
                    
        align-items: center;
    }

    .conteudo{
        padding-top: 80px;
        background-color: #252F3C;
        width: 85%;
        height: 100%;
    }

    table{
        width: 100%;
    }

    
    
    input{
        width: 30%;
        height: 80% ;
        border-radius: 5px;
    }

    .input-busca{
        display: flex;
        justify-content: center;
        align-items: center;
        width:90%;
        height: 6%;
    }

    .centralizar{
        display: flex;
        justify-content: center;
    }

}


