
.admin-home{

    
 
    .cont-faixa-cadastro{
        
        align-items: center;
    }

    .conteudo{
        padding-top: 80px;
        background-color:aqua ;
        width: 85%;
        height: 100%;
    }

    table{
        width: 100%;
    }

    
    
    input{
        width: 30%;
        height: 80% ;
        border-radius: 5px;
    }

    .input-busca{
        width:90%;
        height: 6%;
    }

}



*{
    border: solid 1px black;
}