.page-cadastrar{
 display: flex;
 flex-direction: column;
   
   .unir{
    display: flex;
    justify-content: center;
    padding-top: 3em;
   }
 
    .container-2{

        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 15em;
        height: 15em;
    }
    .container-2 > input{
        border-radius: 10px;
        text-align: center;
    }
  
    .card{
        border: 1px solid black;
        width: 50em;
        height: 30em;
        text-align: center;
        border-radius: 40px;
        align-items: center;
        box-shadow: 0px 10px 40px rgb(153, 153, 153);
        background-color: white;

    }
    .button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button > button{
        width: 200px;
        height: 50px;
        cursor: pointer;
    }
    
    .reunir-containers{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 17em;
        width: 50em;
    }
    .reunir-containers > input {
        border-radius: 20px;
    }

        .container-2{                   
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            width: 15em;
            height: 15em;
        }

        input{
            height: 3em;
            width: 15em;
        }

        .botão-proseguir{
            width: 5em;
            height: 3em;
            border-radius: 50px;
            background-color: #7789C8;

            font-size: medium;
            color: white;
        }

        .voltar{
            color: black;
            font-weight: bold;
        }
}