#imagemcapa{
    visibility: hidden;
    position: absolute;
}

.imagem-camisa{
    width:200px;
     height:200px;
}

.input-group{
    flex-direction: row;
   
}

.container{
    background-color: #252f3c;
    justify-content:left;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    
    
   
    
   
}

.input-box > input {
    background-color: #252f3c;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgb(22, 28, 36);
    outline: none;
    box-sizing: border-box;
    color: #ffffff;
    
}

