.page-consultar{ 


    display: flex;
    flex-direction: column;
    
    
    .container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 100%;
    }

 
    .container-2{
        display: flex;

        height: 30em;
        width: 10em;
        background-color: aqua;
    }
}