
.comp-cabeçalho{
    *{
        border: 1px solid green;
    }
    display: flex;
    flex-direction: row;
    width: 100%;

    background-color: #ffff;

    .espaçar{
        display: flex;
        padding: 0px 0px 0px 60px;
    }

    .reunir-navegações{

    }

    .reunir-imagens{

    }

    .imagens{
        
    }
}