@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@400;700&display=swap');

 HEAD
    
        main {
            margin: 0;
            font-family: 'Noto Sans', sans-serif;
        }
        
        .main-login{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100vw;
            background: linear-gradient(45deg, #5e037a, #5f5dc2, #0f0d6b, #22a2ec);
            background-size: 300% 300%;
            animation: colors 35s ease infinite;
        }
        
        @keyframes colors {
            0% {
                background-position: 0% 58%;
    
            }
            50% {
                background-position: 100% 50%;
            }
    
            100% {
                background-position: 0% 50%;
            }
        }
        
        .left-login{
            width: 50vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
        }
        
        .left-login > h1 {
            
        }
        
        .right-login{
            width: 50vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .card-login{
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 30px 35px;
            background-color: #2f2841;
            border-radius: 20px;
       
            background: linear-gradient(45deg, #f2eef3, #e3e3e6, #d8d8da, #c9c9c9);
            background-size: 300% 300%;
            animation: colors 30s ease infinite;
            
        }
        
        .card-login > h1 {
            
        }
        
        .textfield {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 10px 0px;
        }
        
        .textfield > input{
            width: 100%;
            border: none;
            border-radius: 10px;
            padding: 15px;
            background-color: #514869;
            color: #000000de;
            font-size: 12pt;
            box-shadow: 0px 10px 40px #00000056;
            outline: none;
            box-sizing: border-box;
        }
        
        
        .textfield > label {
            color: #000000de;
            margin-bottom: 10px;
        }
        
        
        .textfield > input ::placeholder{
            color: #00000094;
        }
        
        .btn-login {
            width: 100%;
            padding: 16px 0px ;
            margin: 25px;
            border: none;
            border-radius: 8px;
            outline: none;
            text-transform: uppercase;
            font-weight: 800;
            letter-spacing: 3px;
            color: #2b134b;
            cursor: pointer;
            box-shadow: 0px 10px 40px -12px #00ff8052;
            background: linear-gradient(45deg, #5e037a, #5f5dc2, #0f0d6b, #22a2ec);
            background-size: 300% 300%;
            animation: colors 4s ease infinite;
        }
   

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #0c0ce94d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    color: #ffffff;
    font-size: 3vw;
    font-family: 'Noto Sans', sans-serif;
    
}

.left-login-image {
    width: 35vw;
    
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #ffffff;
    border-radius: 20px;

    
}

.card-login > h1 {
    color: #6c63ff;
    font-weight: 800;
    margin: 0;
 
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #d7cfec;
    color: #000000de;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}


.textfield > label {
    color: #000000de;
    margin-bottom: 10px;
}


.textfield > input ::placeholder{
    color: #00000094;
}

.btn-login {
    width: 100%;
    padding: 16px 0px ;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background-color: #6c63ff;
    cursor: pointer;
    box-shadow: 0px 10px 50px -12px #1f14f3;

}
.btn-login:hover{
    transform:scale(1.1)
}

.btn-login:active{

    transform: scale(1.010);
    }
 

    @media only screen and (max-width: 950px) {
        .card-login {
            width: 35%;
        }

    }

    @media only screen and (max-width: 600px) {
        .main-login{
            flex-direction: column;
        }
        .left-login > h1 {
            display: none;
        }

        .left-login{
            width: 100%;
            height: auto;
        }

        .right-login{
            width: 100%;
            height: auto;
        }

        .left-login-image{
            width: 50vw;
        }

        .card-login{
            width: 90%;
        }

    }
