.comp-cabecalho{
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: #191F28;
    justify-content: space-between;
    align-items: center;

 

    .conjunto{
        display: flex; 
        flex-direction: row;
        justify-content: space-around; 
        margin-left: 3em;
        align-items: center;
    }

    .conjunto-f1{
        display: flex;
        margin-left: 3em;
        align-items: center;
    }

    .sair{
        margin-right: 2em;
        display: flex;
        align-items: center;
    }

    .sair2{
        height: 37px;
        width: 30px;
    }

    .frase{
        color: #fff;
        font-size: 20px;
    }

    .frase-user{
        color: #425F73;
        margin-left: 17px;
        font-size: 20px;
    }

    .sair{
        height: 27px;
        width: 27px;
    }
}

