.centralizar{
    *{
        border: 1px solid green;
    }
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
}

.informações-1{
    display: flex;
    flex-direction: column;
}

.informações-2{
    display: flex;
    flex-direction: column;
}