.admin-home{
    height: 100vh;
    background-color: #252F3C;

    display: flex;
    flex-direction:row;

    .cont-faixa-cadastro{
        display: flex;
        width: 100%;
        flex-direction: column;

    }
        .ajuste{
            height: 570px;
            width: 1000px;
        }
        .centro {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
         }
    }