.filtros-user{
 margin: 0px;
 padding: 0px;

.menu-filtro{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-filtro{
    height: 100vh;
}


.Filtros-Camisas{
    display: flex ;
    height: 100%;

}
.camisas-filtradas{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.filtros-camisa{
    display: flex;
    height: 98%;
}
.paginacao{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pagination{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 5px;
}
.pagination li + li {
    margin-left: 1rem;
}
.pagination > ul{
    width: 100px;
    height: 100px;
}

.pagination__item--active {
    background-color: rgb(201, 201, 201);
    font-weight: bold;
    //border: none;
}
.pagination__item--active :focus{
    outline: none;
}

}