.filtros-user{
 margin: 0px;
 padding: 0px;

.menu-filtro{
    display: flex;
    flex-direction: column;
    height: 87.2%;
}

.header-filtro{
    height: 100vh;
}


.Filtros-Camisas{
    display: flex ;
    height: 100%;

}
.camisas-filtradas{
    width: 100%;
    height: 87.2%;
    background-color: #fbfbfb;
}

}